<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="./properties.config"/>
  
  <database>
    <provider name="${provider}"/>
    <dataSource
        name="${datasourceName}"
        connectionString="Server=${datasource};Port=5432;Database=${database};User ID=${user};Password=${passward};Sslmode=Require;Trust Server Certificate=True"/>
  </database>

  <sqlMaps>
    <sqlMap resource="./Users.xml" />
    <sqlMap resource="./Authentication.xml" />
  </sqlMaps>

</sqlMapConfig>